Repository iterative/cml.dev, pull requests merged in 2021-12, with the labels that each got.

#156 ref: a real start
  content/docs/ref/index.md
  content/docs/ref/pr.md
  content/docs/ref/publish.md
  content/docs/ref/runner.md
  content/docs/ref/send-comment.md
  content/docs/ref/send-github-check.md
  content/docs/ref/tensorboard-dev.md
  content/docs/self-hosted-runners.md
  package.json
Labels: content

#165 fix outdated docker images
  content/index.mdx
  src/components/pages/Home/UseCasesSection/index.tsx
Labels: content, bug

#171 Replace Google Analytics with Plausible Analytics
  gatsby-config.js
  gatsby-ssr.js
  package.json
  src/components/atoms/SmartLink/index.js
  src/components/molecules/HamburgerMenu/index.tsx
  src/components/organisms/Page/DefaultSEO/index.tsx
  src/components/organisms/SubscribeSection/Form/index.tsx
  src/gatsby-plugin-theme-ui/components.js
  src/utils/front/ga.ts
  src/utils/front/plausible.ts
  yarn.lock
Labels: enhancement, website, dependencies

#173 contrib: update core guide
  content/docs/contributing/core.md
Labels: content

#174 ref/runner updates
  content/docs/ref/runner.md
Labels: content

#176 Update YAML indentation for workflow example
  content/docs/start/github.md
Labels: content, p0-critical

#178 add plot titles
  content/docs/self-hosted-runners.md
  content/docs/start/github.md
Labels: content, p2-nice-to-have

#180 lint
  content/docs/start/github.md
Labels: housekeeping
