Repository iterative/cml.dev, pull requests merged in 2022-03, with the labels that each got.

#199 fix discord chat links
  content/docs/contributing/core.md
  content/docs/start/index.md
  redirects-list.json
  src/components/molecules/HamburgerMenu/index.tsx
  src/components/organisms/SiteFooter/index.tsx
  src/components/organisms/SiteHeader/index.tsx
  src/components/pages/Documentation/RightPanel/index.tsx
Labels: content, p1-important

#195 ref/ci
  content/docs/ref/ci.md
  content/docs/ref/pr.md
Labels: content

#202 ref/ci: add to sidebar
  content/docs/sidebar.json
Labels: content

#204 Updated dropdown with reusable component and show on hover
  src/components/molecules/Paginator/styles.module.css
  src/components/organisms/Page/base.css
  src/components/organisms/SiteHeader/index.tsx
  src/components/pages/Documentation/Layout/SidebarMenu/index.tsx
  src/components/pages/Documentation/Layout/SidebarMenu/styles.module.css
  src/components/pages/Documentation/Markdown/styles.module.css
  src/gatsby-plugin-theme-ui/index.js
  src/utils/hooks/useOnClickOutside.tsx
  src/utils/hooks/useOnEscape.tsx
  src/utils/hooks/usePopup.tsx
  src/utils/onSelectKey.ts
Labels: design, website

#206 Document cml pr --auto-merge
  content/docs/ref/pr.md
Labels: content

#212 fix tutorial plot names
  content/docs/start/github.md
  content/docs/start/gitlab.md
  content/index.mdx
  src/components/pages/Home/UseCasesSection/index.tsx
Labels: content, p0-critical
