Repository iterative/cml.dev, pull requests merged in 2022-04, with the labels that each got.

#217 Document `cml pr` auto–merge fallback
  content/docs/ref/pr.md
Labels: content

#220 Fix release managers guide
  content/docs/contributing/core.md
Labels: content, enhancement, p2-nice-to-have

#222 ref/ci: `--unshallow`
  content/docs/ref/ci.md
Labels: content, p1-important

#223 misc minor updates
  content/docs/cml-with-dvc.md
  content/docs/contributing/core.md
Labels: content

#224 ref/ci: document --user-email --user-name
  content/docs/ref/ci.md
Labels: content, enhancement

#229 ref: update `cml publish --native` documentation
  content/docs/ref/publish.md
Labels: content

#230 doc: NodeJS 16
  content/docs/contributing/core.md
  content/docs/install.md
  content/docs/usage.md
Labels: content

#231 Fix GitLab beginners' guide
  content/docs/start/gitlab.md
Labels: content, p0-critical, bug
